button {
  margin: 15px 5px;
  padding: 5px;
}

input[type="text"] {
  min-width: 200px;
}

.displayBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0% auto;
  width: 90vw;
  /* outline: black solid 2px; */
}

.cardSpoiler {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 420px;
  width: 300px;
  margin: 20px;
  outline: black solid 1px;
  border-radius: 12px;
  background-size: contain;
}

body {
  background-color: tan;
}

#detailPage {
  text-align: center;
}

.detailImg {
  height: 560px;
  width: 400px;
  outline: black solid 1px;
  background-size: contain;
  border-radius: 20px;
   margin: 0% auto
}