body {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 25);
  font-size: 125%;
  color: rgb(229, 222, 212);
  min-height: 100vh;
}

header,
footer,
.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4 label,
legend,
.card-name {
  font-family: "IM Fell Double Pica", serif;
}

label {
  /* margin-left: 5px; */
  font-weight: 500;
}

fieldset {
  background-color: rgb(60, 57, 50, 0.3);
}

button {
  font-family: "Uncial Antiqua", cursive;
  margin: 30px 15px;
  font-size: 75%;
  font-weight: bolder;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(199, 180, 133);
}

input {
  background-color: rgb(223, 209, 190);
}

input[type="text"] {
  min-width: 300px;
  margin: 0px 5px;
  font-size: 90%;
}

select {
  font-size: 90%;
  background-color: rgb(213, 210, 205);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchField {
  margin: 40px 10px 15px;
  padding: 15px;
  border: 5px ridge rgb(40, 38, 37);
  border-radius: 10px;
  background-color: rgba(55, 42, 18, 0.8);
}

.randomControls {
  border: 2px outset rgb(30, 29, 28);
  background-color: rgba(129, 98, 42, 0.2);
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: 10px;
}

.selectedParamList {
  display: none;
}

img,
.errorMessage {
  /* font-family: "Poiret One", cursive; */
  color: salmon;
  /* font-weight: bold; */
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.smallButton {
  font-size: 75%;
  margin: 0px;
  padding: 0px;
  width: 55px;
  height: 30px;
}

#rulesTextInput {
  min-width: 425px;
}

#watermarkInput {
  min-width: 200px;
}

.displayBox {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  margin: 0% auto;
  width: 90vw;
  /* outline: black solid 2px; */
}

.spoilerContainer {
  width: auto;
}

.cardSpoiler {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 325px;
  max-width: 80%;
  margin: 10px;
  outline: black solid 1px;
  border-radius: 12px;
  background-size: contain;
}

#detailPage {
  text-align: center;
}

.imgContainer {
  width: auto;
}

.detailImg {
  height: auto;
  width: 450px;
  max-width: 95%;
  outline: black solid 1px;
  border-radius: 20px;
  margin: 0% auto;
}

.stat-table {
  font-size: 18px;
}

td {
  padding: 5px 10px;
}

.stat-label {
  width: 15vw;
  text-align: right;
}

.stat-value {
  width: 75vw;
  text-align: left;
}

.statLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.linkBox {
  font-size: 20px;
}

.copyright {
  margin-top: auto;
  margin-left: auto;
}

.symbol-image {
  width: 15px;
  /* padding: 0px 1px; */
  margin: 1px 1px -1px 1px;
  box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.85);
  border-radius: 500px;
}

.rules-text {
  margin-block: 0.5em;
}

button:hover,
.cardSpoiler:hover {
  cursor: pointer;
}

.suggestions {
  background-color: rgba(72, 61, 47, 0.8);
  border-radius: 5px;
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
  width: auto;
}

.suggestion {
  /* display: none; */
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion:hover {
  background-color: rgba(229, 222, 212, 0.2); /* Lighten color on hover */
}
