body {
  background-color: rgb(72, 61, 47);
  font-size: 150%;
  color: rgb(229, 222, 212);
  min-height: 100vh;
}

header,
footer,
.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
}

h1,
h2,
label,
legend,
p {
  font-family: "IM Fell Double Pica", serif;
}

label {
  margin: 2px 10px;
}

img,
.errorMessage {
  /* font-family: "Poiret One", cursive; */
  color: salmon;
  /* font-weight: bold; */
}

input {
  background-color: rgb(223, 209, 190);
}

select {
  font-size: 90%;
  background-color: rgb(213, 210, 205);
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  font-family: "Uncial Antiqua", cursive;
  margin: 30px 15px;
  font-size: 110%;
  font-weight: bolder;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(199, 180, 133);
}

/* label {
  font-weight: bold;
} */

input[type="text"] {
  min-width: 400px;
  font-size: 90%;
}

.displayBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0% auto;
  width: 90vw;
  /* outline: black solid 2px; */
}

.spoilerContainer {
  width: auto;
}

.cardSpoiler {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 325px;
  max-width: 80%;
  margin: 10px;
  outline: black solid 1px;
  border-radius: 12px;
  background-size: contain;
}

#detailPage {
  text-align: center;
}

.imgContainer {
  width: auto;
}

.detailImg {
  height: auto;
  width: 450px;
  max-width: 95%;
  outline: black solid 1px;
  border-radius: 20px;
  margin: 0% auto;
}


.statBox {
  padding-top: 30px
}

.statLine {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.copyright {
  margin-top: auto;
  margin-left: auto;
}

button:hover, .cardSpoiler:hover {
  cursor: pointer;
}

/* Style for the set suggestion list */
#setSuggestions {
  position: absolute;
  background-color: rgba(72, 61, 47, 0.8); /* Dark brown with 80% opacity */
  border-radius: 5px;
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
  width: auto;
}

.setSuggestion {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.setSuggestion:hover {
  background-color: rgba(229, 222, 212, 0.2); /* Lighten color on hover */
}
